*.o
front/node_modules
front/dist
other_img
.DS_Store
__pycache__
*/__pycache__
*.db-journal
Project/static/app
node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
__pycache__
Project/front/dist