*.o
front/node_modules
front/dist
other_img
.DS_Store
__pycache__
*/__pycache__
*.db
*.db-journal
Project/static/app
node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules